<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Problem Solving</title>
    
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />

    <style>
      :root {
        --cell-size: <%= p %>px; /* set the initial value of the CSS variable */
      }
      .cell_final {
        /* height: var(--cell-size);
        width: var(--cell-size); */
        border-left: 1px solid #555;
        border-top: 1px solid #555;
        background-color: #000;
        padding-right: 0px;
        padding-left: 0px;

      }
    </style>

    <link rel="stylesheet" href='/stylesheets/style.css'>
    
  </head>
  <body>
    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.js"></script>
    <script>
      var testgrid = <%- JSON.stringify(Testgrid) %>;
      var currentRoute = window.location.href;
      var TOTAL_SUBPROBLEMS = <%- subprobcnt %>;
      var CURRENT_SUBPROBLEM = <%- subprobidx%>;
    </script>
      <script src="/javascripts/mario.js"></script>
    <script src="/javascripts/jquery.js"></script>
    


      <!--Main Navigation-->
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
        <div class="container-fluid">
          <!-- Navbar brand -->
          <a class="navbar-brand" target="_blank">
            <img src="../../images/korea_mark.png" height="16" alt="" loading="lazy"
              style="margin-top: -3px;" />
          </a>
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page">Welcome <%= userName %> !</a>
              </li>
            </ul>

            <ul class="navbar-nav d-flex">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/task/<%= userName %>">MainMenu</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/">Logout</a>
                
              </li>
              
              
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="my-5">
      <% if(!competition) { %>
      <nav id="ARC_task_side_nav" class="sidenav card card_2" ">

          <% ARC_idlist.forEach( value => { %>
          <button onclick="window.location.href='./<%= value.id %>'" > <%= value.id %> </button>
          <% }) %>

          </nav>

      <nav id="mini_ARC_task_side_nav" class="sidenav card card_2" ">

          <% miniARC_idlist.forEach( value => { %>
          <button onclick="window.location.href='./<%= value.id %>'" > <%= value.id %> </button>
          <% }) %>

          </nav>
      <div id="sidenav_overlay"></div>
      <% }%>
      <div class="container-fluid">
        <!--Section: Content-->
        <section class="text-center">
          <h4 class="pt-5 mb-3"><strong>Try Solving Mini-ARC or ARC Problems!</strong></h4>
          <% if(!competition) { %>
            <div style="text-align: center; display: block;">
              <div class="btn-group" style="margin-bottom: 10px; margin-left: 5px; margin-right: 5px;">
                <button class="testing_button btn btn-secondary btn-lg" id="browse_task" style="width:10em" onclick="openMiniARCTasklist()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg> MINI-ARC</button>
                <button class="testing_button btn btn-secondary btn-lg " id="browse_task" style="width:10em" onclick="openARCTasklist()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg> ARC</button>
              </div>
              <div class="btn-group shadow-none" style="margin-bottom: 10px;margin-left: 5px; margin-right: 5px;">
                
                  <button class="btn btn-secondary btn-lg  btn-info" onclick="window.location.href='./<%= parseInt(probidx)-1 %>'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg></button>
                
                <div style="text-align: center; width: 10em; display: block;">
                  <p class="fw-bolder" style="margin:0"><%=  probidx %></p><p class="fw-medium" style="font-size: 0.75em; margin: 0;"><%= probhash %></p>
                </div>
                
                  <button class="btn btn-secondary btn-lg  btn-info" onclick="window.location.href='./<%= parseInt(probidx)+1 %>'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg></button>
                
              </div>
              
              <div class="btn-group" style="margin-bottom: 10px;margin-left: 5px; margin-right: 5px;">
                <button class="btn btn-secondary btn-lg" style="width:10em" onclick="window.location.href='./<%= ran1 %>'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
                  <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
                </svg> MINI-ARC</button>
                <button class="btn btn-secondary btn-lg" style="width:10em" onclick="window.location.href='./<%= ran2 %>'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
                  <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
                </svg> ARC</button>
              </div>
              
            </div>
          <% }%>
          
          <div class="container-fluid">
            <div class="row">
              

              <div class="card card_2 col-lg-4" style="overflow-y: scroll;">
                <h5>
                  Task Demonstration
                </h5>
                
                <% grid.forEach(item => { %>
                  <div class="container-fluid row demo_row mx-auto">

                    <div class="col">
                    <% for(i = 0; i < item[0].height ; i++){ %>
                      <% if(i == 0){ %>
                        <div class="container input_preview">
                        
                      <% } %>
                      <% if(item[0].height > item[0].width) {n=item[0].height} else{n=item[0].width} %>
                      <% cs = 199/n  %>
                      <% // console.log(cs)%>

                      <div class="row justify-content-center">
                      <% for(j = 0; j < item[0].width; j++){ %>
                        <div class="cell_final symbol_<%= item[0].grid[i][j] %>" style="width: <%= cs %>px; height: <%= cs %>px" >  </div>

                      <% } %>
                      <% if(i == item[0].height - 1){ %>
                      </div>
                      <% } %>

                      </div>
                    <% } %>
                    </div>
                    <div class="col">
                      <div class="arrow">
                        ➔
                      </div>
                    </div>
                    <div class="col">
                      <% for(i = 0; i < item[1].height ; i++){ %>
                        <% if(i == 0){ %>
                          <div class="container input_preview">
                        <% } %>

                        <% if(item[1].height > item[1].width) {n=item[1].height} else{n=item[1].width} %>
                        <% cs = 199/n %>
                        <% // console.log(cs)%>
  
                        <div class="row justify-content-center">
                        <% for(j = 0; j < item[1].width; j++){ %>
                          <div class="cell_final symbol_<%= item[1].grid[i][j] %>" style="width: <%= cs %>px; height: <%= cs %>px">  </div>
  
                        <% } %>
                        <% if(i == item[1].height - 1){ %>
                        </div>
                        <% } %>
  
                        </div>
                      <% } %>
                    </div>

                </div>
                <% }) %>
               
              </div>


              <div class="card card_2 col-lg-4">
                <h5> Test Input Grid <%= subprobcnt==1? '' : `${subprobidx+1} / ${subprobcnt}`  %></h5>
                <!-- <% //Testgrid.forEach(item => { %> -->
                  <% item = Testgrid %>
                  <div class="container-fluid row demo_row mx-auto">
                    <div class="col">
                    <% for(i = 0; i < item[0].height ; i++){ %>
                      <% if(i == 0){ %>
                        <div id="test_input_grid" class="user_interact container output_preview">
                      <% } %>
                      <% if(item[0].height > item[0].width) {n=item[0].height} else{n=item[0].width} %>
                      <% cs = 399/n %>
                      <% // console.log(cs)%>

                      <div class="row justify-content-center">
                      <% for(j = 0; j < item[0].width; j++){ %>
                        <div class="cell_final symbol_<%= item[0].grid[i][j] %>" id="inputcell_<%= i %>-<%= j %>" style="width: <%= cs %>px; height: <%= cs %>px;">  </div>

                      <% } %>
                      </div>
                      <% if(i == item[0].height - 1){ %>
                      </div>
                      <% } %>

                      
                    <% } %>
                    </div>
                  
                </div>
                <!-- <% //}) %>-->

                
              </div>
              <div class="card card_2 col-lg-4" style="overflow-y:scroll">
                <h5> Output Grid </h5>
                <div id="editor_grid_control_btns" class="mb-0 mt-0" style="width: 500px;">
                  <div id="resize_control_btns" class="mb-2">
                    <div class="input-group">
                    <div class="form-outline" >
                      <input type="text" id="output_grid_height" class="grid_size_field form-control active" name="size" value="<%= Outputgrid[0].height %>" onkeyup="if(window.event.keyCode ==13){resizeOutputGrid()}">
                      <label class="form-label" for="output_grid_height" > Height </label>
                    </div>
                    
                    <div class="form-outline">
                      <input type="text" id="output_grid_width" class="grid_size_field form-control active" name="size" value="<%= Outputgrid[0].height %>" onkeyup="if(window.event.keyCode ==13){resizeOutputGrid()}">
                      <label class="form-label" for="output_grid_width" > Width </label>
                    </div>
                    <button onclick="resizeOutputGrid()" id="resize_btn" class="btn btn-danger">Resize</button>
                  </div>
                  </div>
                  
                  <div id="critical_control_btns" class="btn-group shadow-0"  style="margin-right: 0;" >
                    <button onclick="copyFromInput()" class="btn btn-secondary">Copy input</button>
                    <button onclick="cropGrid()" class="btn btn-secondary">Crop grid</button>
                    <button id="resetBtn" onclick="resetOutputGrid()" class="btn btn-secondary">Clear grid</button>
                    <% if(competition == 'mini'){ %>
                      <button onclick="submitSolutionMarioMini(testgrid, '<%= userName %>' , currentRoute)" id="submit_solution_btn" class="btn btn-success">Submit!</button>
                    <% } %>
                    <% if(competition === 'arc'){ %>
                      <button onclick="submitSolutionMarioARC(testgrid, '<%= userName %>' , currentRoute)" id="submit_solution_btn" class="btn btn-success">Submit!</button>
                    <% } %>
                    <% if(!competition){ %>
                      <button onclick="submitSolution(testgrid, '<%= userName %>' , currentRoute)" id="submit_solution_btn" class="btn btn-success">Submit!</button>
                    <% } %>
                </div>
                
              </div>
                <!-- <% //Outputgrid.forEach(item => { %> -->
                  <% item = Outputgrid %>
                  <div class="container-fluid row demo_row mx-auto">
                    <div class="col">
                    <% for(i = 0; i < item[0].height ; i++){ %>
                      <% if(i == 0){ %>
                        <div id="test_output_grid" class="user_interact container output_preview">
                      <% } %>
                      <% if(item[0].height > item[0].width) {n=item[0].height} else{n=item[0].width} %>
                      <% cs = 399/n %>
                      <% // console.log(cs)%>

                        <div class="row justify-content-center">
                        <% for(j = 0; j < item[0].width; j++){ %>
                          <div class="cell_final symbol_<%= item[0].grid[i][j] %>" id="cell_<%= i %>-<%= j %>" style="width: <%= cs %>px; height: <%= cs %>px;">  </div>

                        <% } %>
                        </div>
                      <% if(i == item[0].height - 1){ %>
                      </div>
                      <% } %>

                      
                    <% } %>
                    </div>
                  
                </div>
                <% //}) %>
                
                <div id="toolbar" class="container-fluid row demo_row mx-auto mt-2 mb-2">
                    <div id="undo-redo" class="btn-group shadow-0 mb-2">
                      <button id="undo_button" class="btn btn-secondary" disabled >Undo</button>
                      <button id="redo_button" class="btn btn-secondary" disabled >Redo</button>
                    </div>
                    <div id="toolbar-selection" class="btn-group shadow-0">
                      <input type="radio" class="btn-check" id="tool_edit"
                       name="tool_switching" value="edit" checked>
                      <label class="btn btn-secondary btn-rounded  bg-primary text-white" for="tool_edit">Edit</label>

                      <input type="radio" class="btn-check" id="tool_select"
                       name="tool_switching" value="select">
                      <label class="btn btn-secondary btn-rounded" for="tool_select">Select</label>

                      <input type="radio" class="btn-check" id="tool_floodfill"
                       name="tool_switching" value="floodfill">
                      <label class="btn btn-secondary btn-rounded" for="tool_floodfill">Flood fill</label>
                    </div>
                    <div id="select_util_btn" >
                        <button id="clockrotate" style="display: none;" class="btn btn-info btn-rounded" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                        </svg></button>
                        <button id="counterclockrotate" style="display: none;" class="btn btn-info btn-rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                          <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                        </svg></button>
                        <button id="xflip" style="display: none;" class="btn btn-info btn-rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrows-expand" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"/>
                        </svg></button>
                        <button id="yflip" style="display: none;" class="btn btn-info btn-rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrows-expand-vertical" viewBox="0 0 16 16">
                          <path d="M8 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2ZM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8Z"/>
                        </svg></button>
                        <span class="badge rounded-pill badge-info" style="display: none;">Press Ctrl+C to copy, Ctrl+V to Paste</span>
                    </div>
              </div>

              <div id="symbol_picker" class="btn-group row demo_row mx-auto mt-0" role="group" aria-label="Symbol Picker">
                <button type="button" class="btn symbol_preview symbol_0 selected-symbol-preview" symbol="0"></button>
                <button type="button" class="btn symbol_preview symbol_1" symbol="1"></button>
                <button type="button" class="btn symbol_preview symbol_2" symbol="2"></button>
                <button type="button" class="btn symbol_preview symbol_3" symbol="3"></button>
                <button type="button" class="btn symbol_preview symbol_4" symbol="4"></button>
                <button type="button" class="btn symbol_preview symbol_5" symbol="5"></button>
                <button type="button" class="btn symbol_preview symbol_6" symbol="6"></button>
                <button type="button" class="btn symbol_preview symbol_7" symbol="7"></button>
                <button type="button" class="btn symbol_preview symbol_8" symbol="8"></button>
                <button type="button" class="btn symbol_preview symbol_9" symbol="9"></button>
              </div>

                

              </div>
            </div>
          </div>
          
        </section>
        <!--Section: Content-->

      </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="bg-light text-lg-start">
      
      


      <hr class="m-0" />


      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="">GIST</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!--Footer-->


</body>
</html>